
/* Main styles*/

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

img {
    margin: 0;
    max-width: 100%;
}

h1, h2, h3,
.navi {
		font-family: 'Frijole', cursive, Helvetica, Arial, sans-serif;
}


/* Main Navigation */

.navi {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navi ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 50px;
    width: 100%;
    color: white;
    background: #D6FF75;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.navi ul li {
    padding: 5px;
    margin-top: 10px;
}

/* Carousel CSS */

#mycarousel {
    padding-top: 50px;
}

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .carousel-caption {
    padding-bottom: 250px;
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 2px #2D2D2D
} */




/* FOOTER ------------------------ */

footer {
    clear: both;
    height: 100px;
    background-color: #2D2D2D;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-text {
    color: #fff;
    font-size: 18px;
    padding: 34px;
    margin: 0;
}

