
/* Main styles*/

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

h1, h2 {
        font-family: 'Frijole', cursive, Helvetica, Arial, sans-serif;
        margin: 0;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 10px;
    margin: 0;
}

p, h3, li {
    font-family: 'Nova Square', cursive, sans-serif;
}

li {
    list-style: none;
}


/* =============================================

        Link Styles

=============================================== */

a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #767575;
}

a:hover {
    color: #DFF900;
    text-shadow: 1.5px 1px 1px rgba(30, 30, 30, 1);
}

a:active {
	color: #000;
}

/* ==================================================

        Main Navigation (SEE MENU.CSS FILE) 

================================================== */

/* =========== Small Screens Header ================ */

.small-screen-header {
    width: 100%;
    margin: 0;
}

.small-screen-header-img {
    padding-top: 0;
    position: relative;
}

.small-screen-branding {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 17%;
    text-align: center;
}

.small-screen-h1 {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.small-screen-title {
    color: #DFF900;
    font-size: 12px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++

    Intro Content

+++++++++++++++++++++++++++++++++++++++++++++++++++ */

.intro-section {
    width: 100%;
    margin:0;
}

.intro-text {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++

    About Content

+++++++++++++++++++++++++++++++++++++++++++++++++++ */

.about-img {
    width: 100%;
}

#about-section {
    width: 100%;
    height: 242px;
    margin: 0;
    background-color: #DFF900;
    text-align: center;
}

.about-h2 {
    padding-top: 15px;
    font-size: 18px;
}

.about-text {
    margin: 0;
    padding: 10px 10px 20px;
    font-size: 16px;
}

.about-box, .contact-box {
    height: 100px;
    margin: 0;
    float: left;
    width: 50%;
}

.about-box {
    background-color: white;
}

.contact-box {
    background-color: #2D2D2D;
}

.about-h3, .contact-h3 {
    padding-top: 45px;
    font-size: 16px;
}

.about-h3:hover {
    color: #DFF900;
    text-shadow: 2px 1px 1px rgba(30, 30, 30, 1);
}

.contact-h3 {
    color: #fff;
}

.contact-h3:hover {
    color: #DFF900;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++

    Services Content

+++++++++++++++++++++++++++++++++++++++++++++++++++ */

.services-img {
    width: 100%;
}

#services-section {
    width: 100%;
    height: 215px;
    margin: 0;
    background-color: #000;
    text-align: center;
}

.services-h2 {
    padding-top: 15px;
    color: #DFF900;
    font-size: 18px;
}

.services-text {
    color: white;
    margin: 0;
    padding: 10px 10px 20px;
    font-size: 16px;
}

.CR-box, .FAQ-box {
    height: 100px;
    margin: 0;
    float: left;
    width: 50%;
}

.CR-h3, .FAQ-h3 {
    padding-top: 45px;
    font-size: 16px;
}

.CR-box {
    background-color: #2D2D2D
}

.CR-h3 {
    color: white;
}

.CR-h3:hover {
    color: #DFF900;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.FAQ-box {
    background-color: white;
}

.FAQ-h3:hover {
    color: #DFF900;
    text-shadow: 2px 1px 1px rgba(30, 30, 30, 1);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++

    Adventures Content

+++++++++++++++++++++++++++++++++++++++++++++++++++ */

.adv-img {
    width: 100%;
}

#adventures-section {
    width: 100%;
    height: 175px;
    margin: 0;
    background-color: #fff;
    text-align: center;
}

.adventures-h2 {
    padding-top: 15px;
    font-size: 18px;
}

.adventures-text {
    margin: 0;
    padding: 10px 10px 20px;
    font-size: 16px;
}

.gallery-box, .blog-box {
    height: 100px;
    margin: 0;
    float: left;
    width: 50%;
}

.gallery-h3, .blog-h3 {
    padding-top: 45px;
    font-size: 14px;
}

.gallery-box {
    background-color: #DFF900;
}

.blog-box {
    background-color: #2D2D2D;
}

.blog-h3 {
    color: #fff;
}

.blog-h3:hover {
    color: #DFF900;
    text-shadow: 1.5px 1px 1px rgba(255, 255, 255, 1);
}

.gallery-h3 {
    color: black;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++

    Social Content

+++++++++++++++++++++++++++++++++++++++++++++++++++ */

.social-section {
    clear: both;
    width: 100%;
    height: 250px;
    margin: 0;
    background-color: #000;
    text-align: center;
}

.social-h2 {
    padding-top: 15px;
    color: #DFF900;
    font-size: 18px;
}

.social-text {
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.social-box {
    height: 100px;
    background-color: #DFF900;
    margin: 0;
}

.social-logos {
    padding: 25px;
}

.FB-Logo {
    width: 40px;
    margin: 0 10px;
}

.YT-Logo {
    width: 50px;
    margin: 0 10px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

    ABOUT US / CONTACT US PAGE

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.about-us-header {
    width: 100%;
    height: 200px;
    background: url(../images/avalancheSide.JPG) no-repeat center;
    background-size: cover;
}

.about-us-section {
    background-color: black;
    text-align: center;
}

.about-us-h1,
.contact-us-h1 {
    font-size: 24px;
    color: #DFF900;
    padding-top: 20px;
    text-shadow: 2px 1px 1px rgba(30, 30, 30, 1);
}

.about-intro, 
.contact-intro {
    width: 90%;
    margin: 0 auto;
    padding: 20px 5px;
    color: #fff;
}

.ryan-about-text,
.justin-about-text {
    width: 90%;
    margin: 0 auto;
    padding: 20px 5px;
    color: #fff;
    background-color: #000;
}

.contact-us-header {
    width: 100%;
    height: 200px;
    background: url(../images/IMG_1457.JPG) no-repeat center;
    background-size: cover;
}

#contact-us-section {
    text-align: center;
    background-color: white;
}

.contact-intro {
    color: #000;
}

.contact-info {
    padding: 0 5px 25px;
}

.contact-info li {
    padding: 5px;
}

.about-page-bottom-image {
    width: 100%;
    height: 200px;
    background: url(../images/IMG_1456.JPG) no-repeat center;
    background-size: cover;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

    RATES / FAQ PAGE

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.rates-header {
    width: 100%;
    height: 200px;
    background: url(../images/lakeClean.JPG) no-repeat center;
    background-size: cover;
}

.faq-h1,
.rates-h1 {
    font-size: 24px;
    color: #DFF900;
    padding: 20px 10px 10px;
    text-shadow: 2px 1px 1px rgba(30, 30, 30, 1);
}

.rates-section {
    text-align: center;
    background-color: black;
    height: 208px;
}

.rates-intro {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.rates-list {
    padding: 10px 10px 20px;
    color: white;
}

.FAQ-header {
    width: 100%;
    height: 200px;
    background: url(../images/IMG_1699.JPG) no-repeat center;
    background-size: cover;
}

#faq-section {
    text-align: center;
}

.faq-intro {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.faq-question-box {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
    margin: 0;
}

.faq {
    margin: 0;
    padding: 85px 20px;
}

.hover-text {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(10, 10, 10, 0.90);
    color: #DFF900;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.faq-question-box:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

.FAQ-bottom-img {
    width: 100%;
    height: 200px;
    background: url(../images/IMG_1768.JPG) no-repeat center;
    background-size: cover;
}



/* FOOTER ------------------------ */

footer {
    clear: both;
    height: 50px;
    background-color: #2D2D2D;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-text {
    color: #fff;
    font-size: 12px;
    padding: 15px;
    margin: 0;
}


/* ***************************************************************************

        MEDIA QUERIES

*************************************************************************** */

@media (min-width: 350px) {

    .small-screen-branding {
        left: 5%;
        right: 5%;
        top: 20%;
    }

}

@media (min-width: 400px) {

    .services-section {
        height: 198px;
    }

}

@media (min-width: 550px) {
    
    .small-screen-branding {
        left: 10%;
        right: 10%;
        top: 70%;
    }

    .small-screen-h1 {
        font-size: 18px;
    }

    .small-screen-title {
        font-size: 14px;
    }

    #about-section {
        height: 198px;
    }

    .about-us-header,
    .contact-us-header,
    .about-page-bottom-image {
        height: 400px;
    }

}

@media (min-width: 660px) {
    
    .small-screen-branding{
        left: 10%;
        right: 10%;
        top: 70%;
    }

    .small-screen-h1 {
        font-size: 18px;
        margin: 5px;
    }

    .small-screen-title {
        font-size: 14px;
    }

    #about-section {
        height: 198px;
    }

}

@media (min-width: 700px) {

    .services-section {
        height: 175px;
    }

}

@media (min-width: 750px) {

    .small-screen-branding {
        left: 10%;
        right: 10%;
        top: 30%;
    }

    .small-screen-h1 {
        font-size: 24px;
    }

    .small-screen-title {
        font-size: 18px;
    }

}

@media (min-width: 1000px) {
    
    .small-screen-branding {
            left: 10%;
            right: 10%;
            top: 425px;
        }

    .small-screen-h1 {
            font-size: 32px;
        }

    .about-intro {
        font-size: 18px;
    }

    .ryan-box {
        height: 461px;
    }

    .ryan-family-img {
        float: left;
        width: 60%;
    }

    .ryan-about-text {
        float: right;
        width: 40%;
        padding: 10px 50px;
        font-size: 18px;
        line-height: 2;
    }

    .justin-box {
        height: 461px;
    }

    .justin-family-img {
        float: right;
        width: 60%;
    }

    .justin-about-text {
        float: left;
        width: 40%;
        padding: 20px 50px;
        font-size: 15px;
        line-height: 2;
    }

    .contact-us-header {
        clear: both;
    }
    
    }

/* ===============================================================

    Media 1200 x 768 - Carousel

=============================================================== */

@media (min-width: 1200px) {

    .over-text {
        position: absolute;
        text-align: center;
        left: 80%;
        top: 5%;
    }

    .title-text {
        font-size: 20px;
        font-family: 'Nova Square', cursive, sans-serif;
        text-transform: uppercase;
        color: #DFF900;
        text-shadow: 3px 3px 2px rgba(30, 30, 30, 1);
    }

    .logo {
        width: 150px;
    }


}

@media (min-width: 1360px) {

        /* =============================================

                Carousel CSS

        =============================================== */

        .full-screen {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }

        .slide-wrapper {
            position: relative;
        }

        /********* OVER-TEXT ******************* */

        .title-text {
            font-size: 24px;
        }

        .logo {
            width: 175px;
        }

        .intro-section {
            height: 250px;
            margin: 0;
        }

        .intro-text {
            font-size: 24px;
            padding: 45px 0;
        }

        /* ****************************** 
        
            BIG SCREEN SECTION LAYOUT
        
        ****************************** */

        /* ABOUT */

        .about-img, #about-section {
            float: left;
            width: 50%;
            height: 375px;
        }

        .about-h2 {
            font-size: 24px;
        }

        .about-text {
            font-size: 18px;
            padding: 10px 25px 25px;
        }

        .about-box, .contact-box {
            height: 200px;
        }

        .about-h3, .contact-h3 {
            font-size: 18px;
            padding-top: 95px;
        }

        /* SERVICES */

        .services-img, #services-section {
            float: right;
            width: 50%;
            height: 375px;
        }

        .services-h2 {
            font-size: 24px;
        }

        .services-text {
            font-size: 18px;
            padding: 10px 25px 25px;
        }

        .CR-box, .FAQ-box {
            height: 200px;
        }

        .CR-h3, .FAQ-h3 {
            font-size: 18px;
            padding-top: 95px;
        }

        /* ADVENTURES */

        /* .adv-img, #adventures-section {
            float: left;
            width: 50%;
            height: 375px;
        }

        .adventures-h2 {
            font-size: 24px;
        }

        .adventures-text {
            font-size: 18px;
            padding: 10px 25px 25px;
        }

        .gallery-box, .blog-box {
            height: 200px;
        }

        .gallery-h3, .blog-h3 {
            font-size: 18px;
            padding-top: 95px;
        } */

        /* SOCIAL */

        .social-section {
            height: 250px;
        }

        .social-h2 {
            font-size: 24px;
            padding-top: 20px;
        }

        .social-text {
            font-size: 18px;
            padding: 10px 25px 25px;
        }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        ABOUT PAGE
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */ 

        .about-us-header {
            width: 100%;
            height: 700px;
            background: url(../images/avalancheSide.JPG)  fixed no-repeat center;
            background-size: cover; 
        }

        .about-us-h1 {
            font-size: 36px;
        }

        .about-intro {
            font-size: 20px;
            padding: 25px 5px 50px;
        }

        .ryan-box,
        .justin-box {
            height: 615px;
        }

        .ryan-about-text {
            font-size: 20px;
            padding: 100px 40px;
        }

        .justin-about-text {
            font-size: 18px;
            padding: 90px 40px;
        }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        CONTACT
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

        .contact-us-header {
            width: 100%;
            height: 600px;
            background: url(../images/IMG_1457.JPG) fixed no-repeat center;
            background-size: cover;
        }

        #contact-us-section {
            height: 500px;
        }

        .contact-us-h1 {
            font-size: 36px;
        }

        .contact-intro {
            font-size: 24px;
        }

        .contact-info {
            font-size: 24px;
            padding: 50px 10px;
        }

        .contact-info li {
            padding: 20px;
        }

        .about-page-bottom-image {
            width: 100%;
            height: 800px;
            background: url(../images/IMG_1456.JPG) fixed no-repeat center;
            background-size: cover;
        }

}

@media (min-width: 1400px) {

    .ryan-box,
    .justin-box {
        height: 648px;
    }

}

/* ===============================================================

    Media 1920 x 1080 - Carousel

=============================================================== */

@media (min-width: 1900px) {

    .over-text {
        left: 80%;
    }

    .title-text {
        font-size: 32px;
    }

    .logo {
        width: 250px;
    }

    .about-img, 
    #about-section, 
    .services-img, 
    #services-section,
    .adv-img, 
    #adventures-section {
        height: 500px;
    }

    .about-box,
    .contact-box {
        height: 330px;
    }

    .CR-box, 
    .FAQ-box, 
    .gallery-box, 
    .blog-box {
        height: 350px;
    }

    .about-h3,
    .contact-h3,
    .CR-h3,
    .FAQ-h3,
    .gallery-h3,
    .blog-h3 {
        padding: 155px;
    }


}


