
/* 
a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} */
/* OPEN / CLOSE BTNS */
.btn-menu {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 999;
    display: inline;
    font-size: 32px;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #DFF900;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.btn-menu a {
    display: inline-block;
    text-decoration: none;
    /* safari hack */
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #333;
}
.overlay .menu {
    margin: 10% auto;
    width: 80%;
}
.overlay .menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.overlay .menu ul li {
    float: left;
    padding: 20px 0;
    width: 25%;
    list-style: none;
    text-align: center;
}
.overlay .menu ul li a {
    color: #DFF900;
    font-size: 20px;
    font-family: 'Frijole', cursive, Helvetica, Arial, sans-serif;
}
.overlay .menu ul ul {
    margin-top: 50px;
}
.overlay .menu ul ul li {
    position: relative;
    float: none;
    margin: 0;
    width: 100%;
    border: 0;
}
.overlay .menu ul ul li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Nova Square', cursive, sans-serif;
}
.overlay .menu ul ul li a:hover {
    color: #DFF900;
}
/* RESPONSIVE MENU BREAKOUT */

@media screen and (max-width: 768px) {
    .overlay .menu ul li {
        float: none;
        margin-bottom: 50px;
        width: 100%;
        border-bottom: 1px solid #575757;
    }
    .overlay .menu ul li:last-child {
        border: 0;
    }
    .overlay .menu ul ul {
        margin-top: 20px;
    }
}

/* RESPONSIVE OVERALL */

@media screen and (min-width: 1000px) {

    .btn-menu {
        position: fixed;
        top: 30px;
        left: 40px;
        z-index: 999;
        display: inline;
        font-size: 32px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #DFF900;
        margin: 6px 0;
        transition: 0.4s;
    }

}

@media screen and (min-width: 1900px) {

    .overlay .menu ul li a {
        font-size: 28px;
    }
    
    .overlay .menu ul ul li a {
        font-size: 20px;
    }

}