<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- External Links -->

        <!-- Boostrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">

        <!-- Main CSS -->
        <link rel="stylesheet" href="../css/main.css">

        <!-- Menu CSS -->
        <link rel="stylesheet" href="../css/menu.css">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
       
   
    <title>About Us | Two Brothers Powersports</title>

</head>
<body>

        <div class="btn-menu" onclick="myFunction(this)">
                <a class="btn-open" href="javascript:void(0)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </a>
            </div>

            <div class="overlay">
                    <div class="menu">
                        <ul>
                
                
                            <li><a href="../index.html#about-section">About</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="/views/about.html#contact-us-section">Contact Us</a></li>
                                </ul>
                            </li>
                
                            <li><a href="../index.html">Home</a>
                                <ul>
                                    <li><a href="rates.html">Current Rates</a></li>
                                    <li><a href="/views/rates.html#faq-section">F.A.Q.s</a></li>
                                </ul>
                            </li>
                
                            <!-- <li><a href="../index.html#adventures-section">Adventures</a>
                                <ul>
                                    <li><a href="#">Gallery</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </li> -->
                
                            <li><a href="#">Social</a>
                                <ul>
                                    <li><a href="https://www.facebook.com/twobrotherspowersports/" target="_blank">Facebook</a></li>
                                    <li><a href="https://www.youtube.com/channel/UC8wn9pswZYQWDDRJ4N5hvQA" target="_blank">YouTube</a></li>
                                </ul>
                            </li>
                
                
                        </ul>
                    </div>
                </div>

<!-- CONTENT -->

<!-- REDESIGN THIS TO BE RATES AND FAQs -->

    <div class="rates-header"></div>

        <div class="rates-section">

            <h1 class="rates-h1">Current Rates</h1>
            <div>
                <p class="rates-intro"></p>
            </div>
            <div>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </div>

        </div>

    <div class="FAQ-header"></div>
    
        <div id="faq-section">

            <h1 class="faq-h1">Frequently Asked Questions</h1>
            <div>
                <p class="faq-intro">We are a couple of brothers that decided to rent out our personal Polaris RZR XP4 1000 to allow us to upgrade it quicker.</p>
            </div>
            <!-- contact information boxes: name, hover over for info. Eventually change to box flip animation  -->
        </div>



<!-- FOOTER -->
    <div>
        <footer>
            <p class="footer-text"> &copy; Echor Digital Solutions - 2017</p>
        </footer>
    </div>

    <!-- JQUERY -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/menu.js"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>


    <!-- JS files -->
    <script src="../js/route.js"></script>

    
</body>
</html>